<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Define o conjunto de caracteres do documento como UTF-8, garantindo que a maioria dos caracteres seja exibida corretamente. -->
  <meta charset="UTF-8">
  
  <!-- Define a visualização para dispositivos móveis, configurando a escala inicial da página para caber na largura da tela do dispositivo. -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Define o título da página, que será exibido na aba do navegador. -->
  <title>Task app</title>
  
  <!-- Link para o arquivo CSS externo, que contém estilos personalizados para a página. -->
  <link rel="stylesheet" type="text/css" href="./css/style.css" />
</head>
<body>
  <!-- Aqui será inserido o conteúdo da página pelo motor de template Handlebars. !-->
       {{{body}}}
</body>

<!-- Link para o arquivo JavaScript externo, que contém scripts personalizados para a funcionalidade da página. -->
<script src="./js/script.js"></script>

</html>
