<!DOCTYPE html>
<html lang="pt-br">
<head>
  <!-- Metadados padrão -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Link para o CSS do Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  
  <!-- Link para o arquivo de estilo CSS personalizado -->
  <link rel="stylesheet" type="text/css" href="./css/style.css" />
  
  <!-- Título da página -->
  <title>Sobre</title>
</head>

<body>
  <!-- Cabeçalho do site -->
  <header>
    <!-- Navegação principal -->
    <nav>
      <!-- Logo com link para a página de tarefas -->
      <a href="/tarefa" class="logo">
        <img src="../src/img/logo-png.jpeg" alt="Logo TASKLIST" id="logoImg">
      </a>
      
      <!-- Ícone do menu para dispositivos móveis -->
      <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      
      <!-- Lista de navegação -->
      <ul class="nav-list">
        <li><a href="/login">Início</a></li> <!-- Link para a página de login -->
      </ul>
    </nav>
  </header>

  <!-- Corpo principal do site -->
  <div id="listAll">
    <h1>Sobre a TASKLIST</h1>
    
    <div id="bodyContent">
      <ul id="listTask">
        <main>
          <section>
            <!-- Estilos específicos para esta página -->
            <style>
              h1 {
                font-size: 300%;
              }

              h3 {
                text-align: left;
              }

              h4 {
                text-align: right;
              }

              p {
                text-align: justify;
              }
            </style>

            <!-- Seção "Quem somos?" -->
            <h3><b>Quem somos?</b></h3>
            <p>
              Somos uma Startup que visa expansão e entende a importância da organização no dia a dia, seja em casa ou na empresa. Nosso objetivo é destacar a importância de se organizar e planejar tarefas. Bem-vindo ao nosso site, onde simplificamos a gestão de tarefas e aumentamos sua produtividade com nosso sistema intuitivo de Kanban e lembretes integrados. Nossa interface amigável torna a utilização do sistema fácil para todos, desde indivíduos até equipes inteiras. Colabore em tempo real, atribua tarefas, comente e acompanhe o progresso de maneira transparente e eficiente.
              Seja você um profissional independente ou parte de uma equipe, nosso sistema de Kanban e lembretes é a escolha ideal. Experimente agora e libere todo o potencial da sua produtividade!
            </p>
          </section>

          <!-- Seção "Nossas Funcionalidades Especiais" -->
          <section>
            <h3><b>Nossas Funcionalidades Especiais</b></h3>
            <p>
              O Kanban, uma metodologia visual originária do Japão, revolucionou a forma como as equipes organizam seu trabalho. Com nosso sistema, você pode criar facilmente quadros Kanban personalizados para acompanhar o progresso de suas tarefas de forma visual e colaborativa. Arraste e solte cartões entre as colunas para refletir o status atual de cada tarefa, desde o backlog até a conclusão.
              Além disso, nossa plataforma oferece lembretes poderosos para garantir que você nunca mais esqueça uma tarefa. Configure lembretes personalizados para suas tarefas e nunca mais perca um prazo ou compromisso crucial.
            </p>
          </section>

          <!-- Seção "Equipe TASKLIST" -->
          <section>
            <h4><b>Equipe TASKLIST</b></h4>
          </section>
        </main>
      </ul>
    </div>
  </div>

  <!-- Link para o código JavaScript personalizado -->
  <script src="../public/js/script.js"></script>
</body>
</html>
